/* Advatages */

.advantages {
  padding-top: 31px;
  padding-bottom: 58px;
  display: flex;

  @include tablet {
    padding-top: 55px;
    padding-bottom: 83px;
  }

  @include desktop {
    padding-top: 68px;
    padding-bottom: 90px;
  }
}

/* Title */

.advantages__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  @include tablet {
    margin-bottom: 42px;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    margin-left: 225px;
    margin-bottom: 39px;
  }
}

/* List */

.advantages__list {
  @include overlay;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 35px;

  @include tablet {
    display: grid;
    grid-template-columns: 293px 1fr;
    column-gap: 51px;
    row-gap: 63px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 628px;
    column-gap: 27px;
  }
}

/* Item */

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 54px;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--ecology::before {
    top: 1px;
    left: 8px;
    width: 33px;
    height: 38px;
    background-image: url("..//..//img/icon-1.svg");
  }

  &--love::before {
    top: 1px;
    width: 47px;
    height: 27px;
    background-image: url("..//..//img/icon-3.svg");
  }

  &--price::before {
    top: 1px;
    left: 7px;
    width: 34px;
    height: 27px;
    background-image: url("..//..//img/icon-5.svg");
  }

  &--domestic::before {
    left: 3px;
    top: 1px;
    width: 35px;
    height: 34px;
    background-image: url("..//..//img/icon-2.svg");
  }

  &--like::before {
    left: -6px;
    top: 1px;
    width: 55px;
    height: 23px;
    background-image: url("..//..//img/icon-4.svg");
  }

  &--present::before {
    left: 3px;
    top: 1px;
    width: 33px;
    height: 32px;
    background-image: url("..//..//img/icon-6.svg");
  }

  @include tablet {
    max-width: 323px;
  }
}


/* Description */

.advantages__description {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: inherit;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
  }
}
