/* Advatages */


/* Title */

.advantages__title {
  margin: 0;
  margin-bottom: 28px;
}

/* List */

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 31px;
}

/* Item */


/* Description */

.advantages__description {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
