/* Button */

.button {
  display: inline-block;
  font-weight: 700;
  padding: 14px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-dark-gray;
  background-color: $basic-white;
  border: 2px solid $basic-dark-gray;
  cursor: pointer;

  @include tablet {
    font-size: 17px;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $basic-dark-gray;
      color: $basic-white;
    }
  }

  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }
}
