/* Button */

.button {
  display: inline-block;
  font-weight: 700;
  padding: 16px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-dark-gray;
  background-color: $basic-white;
  border: 2px solid $basic-dark-gray;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: $basic-dark-gray;
      color: $basic-white;
    }
  }

  &:focus-visible {
    outline: 2px solid #061bd8;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }
}
