/* Card */

.card {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
  }

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

/* Link */

.card__images-link {
  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }
}


/* Title */


.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @include tablet {
    font-size: 20px;
  }
}

/* Link */

.card__title-link {
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }

  &:active {
    opacity: 0.3;
  }
}

/* Description */

.card__description {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $basic-dark-gray;
  margin-bottom: 41px;

  &::after {
    content: "";
    background-color: $basic-semi-gray;
    position: absolute;
    height: 1px;
    top: 58%;
    transform: translateY(-50%);
    left: 28px;
    right: 28px;
  }

  @include tablet {
    font-size: 15px;

    &::after {
      top: 78%;
    }
  }

  @include desktop {
    margin-bottom: 38px;

    &::after {
      top: 62%;
    }
  }
}

// Link

.card__link-wrapper {
  display: flex;
  margin-top: auto;
}

.card__link {
  margin-left: auto;

  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }
}

.card__link svg {
  color: rgb(0, 0, 0, 0.2);

  @media (any-hover: hover) {
    &:hover {
      color: $basic-green;
    }
  }

  &:active {
    color: rgb(99, 209, 187, 0.3);
  }
}

/* Price */

.card__price {
  font-size: 15px;
  line-height: 24px;
  color: $basic-black;

  @include tablet {
    font-size: 17px;
  }
}

/* Image */

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px;
  padding-bottom: 26px;
  border: 1px solid $basic-semi-gray;

  @include tablet {
    flex-grow: 1;
    padding-left: 34px;
    padding-top: 27px;
    padding-right: 32px;
  }

  @include desktop {
    padding-left: 27px;
  }
}

.card__image {
  width: 100%;
}
