/* Card */

.card {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
  }
}

/* Link */


/* Title */


.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @include tablet {
    font-size: 20px;
  }
}

/* Link */

.card__title-link {
  text-decoration: none;
  margin-bottom: 5px;
}

/* Description */

.card__description {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $basic-dark-gray;
  margin-bottom: 41px;

  @include tablet {
    font-size: 15px;
  }

  &::after {
    content: "";
    background-color: $basic-semi-gray;
    position: absolute;
    height: 2px;
    top: 58%;
    transform: translateY(-50%);
    left: 28px;
    right: 28px;
  }
}

/* Price */

.card__price {
  font-size: 15px;
  line-height: 24px;
  color: $basic-black;

  @include tablet {
    font-size: 17px;
    margin-top: auto;
  }
}

/* Image */

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px;
  border: 1px solid $basic-semi-gray;

  @include tablet {
    padding-left: 34px;
    padding-top: 27px;
    padding-right: 32px;
  }
}

.card__image {
  width: 100%;
}
