/* Contacts */

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 38px;
  padding-top: 44px;

  @include tablet {
    padding-top: 87px;
    padding-bottom: 57px;
  }

  @include desktop {
    padding-top: 175px;
    padding-bottom: 105px;
  }
}


.contacts__wrapper {
  @include tablet {
    &::before {
      content: "";
      position: absolute;
      top: 66px;
      right: 53px;
      background-image: url("..//..//img/flag.svg");
      width: 47px;
      height: 81px;
    }
  }

  @include desktop {
    &::before {
      top: 0;
      left: 113px;
    }
  }
}

/* Title */

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 28px;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  @include desktop {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
  }
}

/* Address */

.contacts__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-bottom: 62px;

  @include tablet {
    flex-direction: row;
    column-gap: 49px;
    margin-bottom: 50px;
  }

  @include desktop {
    padding-left: 175px;
    flex-direction: column;
    margin-bottom: 84px;
  }
}

/* List */

.contacts__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 29px;
  gap: 34px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    gap: 25px;
  }

  @include desktop {
    margin-bottom: 25px;
  }
}

.contacts__address dt,
.contacts__address dd {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-dark-gray;
  margin: 0;

  @include tablet {
    font-size: 17px;
  }
}

/* Link */

.contacts__link {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $basic-green;
  min-height: 27px;

  @media (any-hover: hover) {
    &:hover {
      color: #46c1ae;
    }
  }

  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }

  &:active {
    border-bottom: rgb(70, 193, 174, 0.1);
  }

  @include tablet {
    padding-bottom: 3px;
  }
}

/* Button */

.contacts__write {
  width: 81%;
  margin: 0 auto;

  @include tablet {
    width: 230px;
  }

  @include desktop {
    margin-left: 225px;
  }
}

/* Images */

.contacts__map {
  margin-bottom: 42px;

  @include tablet {
    margin-bottom: 57px;
  }

  @include desktop {
    position: absolute;
    left: 50%;
    top: 95px;
    margin-bottom: 0;
  }
}

.contacts iframe {
  display: block;
  border: none;
  width: 100%;

  @include desktop {
    width: 527px;
  }
}
