/* Contacts */

.contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 39px;
}

/* Title */

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  margin: 0;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

/* Address */

.contacts__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-bottom: 62px;

  @include tablet {
    flex-direction: row;
  }
}

/* List */

.contacts__address dt,
.contacts__address dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-dark-gray;
  margin: 0;
}

/* Link */

.contacts__link {
  text-decoration: none;
  color: inherit;
}

/* Button */

.contacts__write {
  padding: 16px 38px;
}

/* Images */

.contacts__map {
  margin-bottom: 42px;
}
