// Copyright

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  padding: 20px 43px 23px 39px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;

  @include tablet {
    padding: 0;
    width: 180px;
  }

  @include desktop {
    width: 184px;
    align-items: baseline;
  }
}

// Link

.copyright__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: $basic-black;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover .copyright__link-icon {
      color: #46c1ae;
    }
  }


  &:active .copyright__link-icon {
    opacity: 0.3;
  }
}

// Icon

.copyright__link-icon {
  color: $basic-green;
  width: 82px;
  height: 39px;
}
