/* Footer */

.footer {
  background-color: $basic-gray;
  padding-top: 25px;
}

/* Logo */


/* Social */

/* List */

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Item */

.social__item {
  padding-left: 89px;
  padding-right: 89px;
}
