/* Form Main */
.form-main {
  padding-top: 17px;
}

/* Description */

.form-main__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark-gray;
  margin: 0;
  margin-bottom: 29px;
  max-width: 400px;
}
