/* Form */

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;

  @include tablet {
    padding-bottom: 50px;
  }

  @include desktop {
    padding-bottom: 48px;
  }
}

.form-main__wrapper {
  @include desktop {
    padding: 0 225px;
  }
}

/* Group */

.form__group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 33px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include tablet {
    padding-top: 38px;
    padding-bottom: 50px;

    &--radiobox {
      padding-top: 50px;
      margin-top: 0;
    }
  }

  @include desktop {
    &--radiobox {
      padding-top: 45px;
    }
  }

  &--type {
    margin-top: 0;
  }
}

.form__group-wrapper {
  @include desktop {
    padding: 0 97px;
  }

  &--gray {
    @include tablet {
      background-color: #f1f1f1;
    }
  }
}


.form__field-group {
  display: flex;
  flex-direction: column;
  padding-top: 35px;

  @include tablet {
    padding-top: 66px;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;

    &--wrapper {
      padding-top: 45px;
    }
  }

  @include desktop {
    justify-content: flex-start;
  }

  &--textarea {
    margin-bottom: 0;

    @include tablet {
      padding-top: 48px;
      padding-bottom: 52px;
    }

    @include desktop {
      padding-bottom: 40px;
      padding-top: 49px;
    }
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;

  @include tablet {
    flex-direction: row;
    align-items: center;
  }
}

.form__input-icon {
  position: absolute;
  right: 4px;
  bottom: 17px;
  opacity: 0.2;
  color: $basic-black;

  @include tablet {
    right: 26px;
  }

  @include desktop {
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--mail {
    @include tablet {
      right: 22px;
      top: 20px;
    }

    @include desktop {
      top: 31px;
      right: 2px;
    }
  }
}

.form__field-list {
  @include overlay;
  display: grid;
  row-gap: 21px;
  width: 100%;

  @include desktop {
    width: 73%;
  }

  @include desktop {
    width: 698px;
  }

  &--mail {
    width: 100%;
    row-gap: 31px;

    @include tablet {
      row-gap: 22px;
    }

    @include desktop {
      width: 826px;
      row-gap: 20px;
    }
  }
}

/* Heading */

.form__group-heading {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-green;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    height: 1px;
    width: 77%;
    left: 62px;
    background-color: $basic-green;
  }

  @include tablet {
    float: left;
    margin-bottom: 0;
    padding-top: 20px;
    width: 25%;

    &::after {
      display: none;
    }

    &--name {
      width: 33%;
    }
  }

  &--color {
    margin-bottom: 20px;
  }

  &--textarea {
    margin-bottom: 24px;

    @include tablet {
      padding-top: 20px;
    }
  }

  @include desktop {
    width: 12%;
    margin-left: 15px;
  }

  &--connection {
    margin-bottom: 7px;

    @include tablet {
      padding-top: 2px;
      margin-bottom: 0;
    }

    @include desktop {
      width: 14%;
      margin-bottom: 15px;
      padding-top: 20px;
    }
  }

  &--email {
    margin-bottom: 8px;

    &::after {
      content: "";
      width: 70%;
      left: 79px;
      top: 10px;
    }

    @include tablet {
      width: 14%;
      padding-top: 7px;
    }
  }
}

/* List */

.form__list {
  @include overlay;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  font-size: 17px;

  @include tablet {
    row-gap: 24px;
  }

  &--checkbox {
    row-gap: 19px;

    @include tablet {
      row-gap: 25px;
      column-gap: 22px;
      grid-template-columns: 1fr 1fr;
    }

    @include desktop {
      column-gap: 98px;
      grid-template-columns: min-content min-content 1fr;
    }
  }
}


/* Item */

.form__item {
  position: relative;
  display: flex;
  color: $basic-black;
  min-height: 42px;

  @include tablet {
    height: 52px;
  }
}


/* Text */

.form__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: inherit;

  @include tablet {
    font-size: 19px;
  }
}

.form__legend {
  margin: 0;
  margin-top: 10px;
  color: $basic-dark-gray;

  @include tablet {
    margin-top: 0;
  }
}

.form__legend small {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
  }
}

/* Title */

.form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin: 0;

  @include tablet {
    padding-right: 25px;
    font-size: 19px;
  }

  @include desktop {
    margin-top: 10px;
  }
}


/* Input */

.form__input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: $basic-dark-gray;
  padding-bottom: 15px;
  padding-top: 16px;
  padding-right: 10px;
  border: none;
  border-bottom: 2px solid $basic-black;
  flex-grow: 1;

  @include tablet {
    font-size: 19px;
    padding: 16px 127px 16px 18px;
  }

  &--phone {
    @include tablet {
      background-color: #f1f1f1;
    }

    @include desktop {
      width: 700px;
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  &--email {
    @include tablet {
      background-color: #f1f1f1;
    }

    @include desktop {
      width: 700px;
      padding-top: 18px;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      border-bottom-color: $basic-green;
    }
  }

  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }


  &:not(:placeholder-shown) {
    border-bottom: 2px solid $basic-green;
  }
}

.form__input:hover + svg {
  color: $basic-green;
  opacity: 1;
}

.form__input:not(:placeholder-shown) + svg {
  color: $basic-green;
  opacity: 1;
}


.form__textarea {
  resize: none;
  padding: 17px;
  border: 2px solid $basic-dark-gray;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: $basic-dark-gray;
  height: 142px;

  @include tablet {
    width: 75%;
    font-size: 19px;
  }

  @include desktop {
    max-width: 700px;
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: $basic-green;
    }
  }

  &:focus-visible {
    outline: none;
    border-color: $basic-lilac;
  }

  &:not(:placeholder-shown) {
    border-color: $basic-green;
  }

  &::placeholder {
    opacity: 0.3;
  }
}

/* Button */

.form__info-wrapper {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 3px;
  }

  @include desktop {
    padding: 0;
    padding-top: 11px;
    max-width: 696px;
  }
}

.form__button {
  margin-top: 28px;
  width: 100%;

  @include tablet {
    width: 230px;
    margin-top: 0;
  }
}

.form__checkbox {
  display: flex;
  align-items: center;
  padding-left: 61px;

  @include tablet {
    padding-left: 81px;
  }
}

.form__checkbox-input {
  &--control {
    position: absolute;
    left: 1px;
    border: 2px solid $basic-black;
    cursor: pointer;
    background-color: $basic-white;

    @media (any-hover: hover) {
      &:hover {
        border: 2px solid $basic-green;
      }
    }

    &:active {
      border: 2px solid rgba(68, 68, 68, 0.3);
    }

    @include tablet {
      width: 52px;
      height: 52px;
      background-color: #f1f1f1;
    }
  }

  &:disabled + span {
    border-color: rgb(155, 155, 155);
  }

  &:focus-visible + span {
    border-color: $basic-lilac;
  }
}

.form__checkbox-input + .form__checkbox-input--control {
  width: 38px;
  height: 38px;

  @include tablet {
    width: 52px;
    height: 52px;
    top: 1px;
    left: -1px;
  }
}

.form__checkbox-input:checked + .form__checkbox-input--control {
  background-image: url("..//..//img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    background-image: url("..//..//img/tick-big.svg");
  }
}

.form__checkbox-input:checked:disabled + .form__checkbox-input--control {
  background-color: #e3e3e3;
}

.form__radiobox {
  display: flex;
  align-items: center;
  padding-left: 60px;

  @include tablet {
    padding-left: 81px;
  }
}

.form__radiobox-input {
  &--control {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 1px;
    border: 2px solid $basic-black;
    border-radius: 50%;
    cursor: pointer;

    @include tablet {
      width: 52px;
      height: 50px;
      top: 3px;
      left: 2px;
    }

    @include desktop {
      top: 3px;
      left: -2px;
      height: 48px;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: $basic-green;
      }
    }

    &:active {
      border-color: rgba(68, 68, 68, 0.3);
    }
  }

  &:disabled + span {
    border-color: #9b9b9b;
  }

  &:focus-visible + span {
    border-color: $basic-lilac;
  }
}

.form__radiobox-input:checked + .form__radiobox-input--control::before {
  content: "";
  position: absolute;
  background-color: $basic-green;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;

  @include tablet {
    width: 22px;
    height: 22px;
  }
}

.form__radiobox-input:checked:disabled + .form__radiobox-input--control::before {
  background-color: #ebebeb;
}
