/* Form Main */
.form-main {
  padding-top: 17px;

  @include tablet {
    padding-top: 98px;
  }
}

/* Description */

.form-main__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark-gray;
  margin: 0;
  max-width: 702px;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
  }
}
