/* Header */

.header {
  position: relative;
  display: grid;
  padding-bottom: 31px;
  padding-left: 116px;
  padding-right: 118px;
}

/* Logo */

.header__logo-icon {
  width: 86px;
  height: 35px;
  margin-top: 22px;
}
