/* Header */

.header {
  position: relative;
  display: grid;
  height: 79px;
  padding: 22px;
  background-color: $basic-white;
  box-shadow: 0 1px 0 $basic-semi-gray, inset 0 1px 0 $basic-semi-gray;

  @include tablet {
    height: 89px;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Menu */

.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}


/* Logo */

.header__logo {
  width: 86px;
  height: 35px;
  text-align: center;
  z-index: 1;
  margin: 0 auto;
  cursor: pointer;

  @include tablet {
    height: 46px;
    text-align: left;
  }

  @include desktop {
    height: 72px;
    grid-column: 2/2;
    text-align: right;
  }
}

.header__logo img {
  width: 86px;
  height: 35px;
}

.header__additional-list {
  display: none;

  @include desktop {
    @include overlay;
    display: flex;
    grid-column: 1/2;
    grid-row: 2/2;
    z-index: 3;
    font-size: 17px;
  }
}

.header__additional-item {
  @include desktop {
    font-weight: 700;
    line-height: 24px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.header__additional-link {
  @include desktop {
    text-decoration: none;
    color: $basic-black;
  }
}
