/* Header */

.header {
  position: relative;
  background-color: $basic-white;
  box-shadow: 0 1px 0 $basic-semi-gray, inset 0 1px 0 $basic-semi-gray;

  @include tablet {
    background: linear-gradient($basic-white 88px,$basic-semi-gray 2px,transparent 90px);
    background-color: #fafafa;
  }
}

.header__inner {
  @include tablet {
    display: grid;
    padding-right: 50px;
    padding-left: 50px;
  }
}

/* Menu */

.header__menu {
  position: relative;
}


/* Logo */

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;

  @include tablet {
    width: 320px;
    height: 88px;
    justify-content: flex-start;
  }

  @include desktop {
    width: auto;
    grid-column: 2/2;
    grid-row: 1/3;
  }
}

.header__logo {
  width: 86px;
  height: 35px;
  text-align: center;
  z-index: 1;
  margin: 0 auto;
  cursor: pointer;

  @include tablet {
    width: 114px;
    height: 46px;
    text-align: left;
    margin: 0;
  }

  @include desktop {
    width: 149px;
    height: 72px;
    text-align: center;
    margin: 0 auto;
    padding-top: 9px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid #3f3dbc;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__logo img {
  width: 86px;
  height: 35px;
}

/* Title */

.header__title-wrapper {
  padding: 70px 30px 77px;
  background-color: $basic-gray;

  &--index {
    background-image: url("../../img/hero-mobile@2x\ 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -18px;
    padding-bottom: 120px;
  }
}

.header__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $basic-black;
  margin: 0;
  text-align: center;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    margin: 0 auto;
    width: 60%;
    font-size: 53px;
    line-height: 57px;
  }
}

.header__additional-list {
  display: none;

  @include desktop {
    @include overlay;
    display: flex;
    grid-column: 1/2;
    grid-row: 2/2;
    z-index: 3;
    font-size: 15px;
    max-width: 350px;
  }
}

.header__additional-item {
  @include desktop {
    font-weight: 700;
    line-height: 24px;
    margin-right: 46px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header__additional-link {
  @include desktop {
    text-decoration: none;
    color: $basic-black;
  }
}

.header__additional-text {
  display: none;

  @include tablet {
    display: flex;
    justify-self: end;
    flex-wrap: wrap;
    max-width: 260px;
    z-index: 3;
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $basic-dark-gray;
  }

  @include desktop {
    grid-column: 3/3;
  }
}
