/* Hero */

.hero {
  position: relative;
  background-color: $basic-gray;


}

.hero__title--form {
  margin: 0;
  padding: 74px 0;
  text-align: center;
}

.hero__title--catalog {
  margin: 0;
  padding: 73px 0;
}

/* List */

.hero__list {
  @include overlay;
  font-size: 19px;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

/* Item */

.hero__item {
  font-weight: 700;
  line-height: 24px;
  background-color: $basic-green;
  padding: 24px 30px;
  flex-grow: 1;
}

/* Link */

.hero__link {
  color: $basic-white;
  text-decoration: none;
}
