/* Hero */

.hero {
  position: relative;
  background-color: $basic-gray;

  &--index {
    background-image: url("../../img/hero-mobile@2x\ 1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
  }
}

/* Title */

.hero__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $basic-black;
  margin: 0;
  padding-top: 72px;
  margin-bottom: 120px;
  text-align: center;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__title--form {
  margin: 0;
  padding: 74px 0;
  text-align: center;
}

.hero__title--catalog {
  margin: 0;
  padding: 73px 0;
}

/* List */

.hero__list {
  @include overlay;
  font-size: 19px;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

/* Item */

.hero__item {
  font-weight: 700;
  line-height: 24px;
  background-color: $basic-green;
  padding: 24px 30px;
  flex-grow: 1;
}

/* Link */

.hero__link {
  color: $basic-white;
  text-decoration: none;
}
