/* Hero */

/* List */

.hero__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 19px;
}

/* Item */

.hero__item {
  font-weight: 700;
  line-height: 24px;
  background-color: $basic-green;
  padding: 24px 30px;
}

/* Link */

.hero__link {
  color: $basic-white;
  text-decoration: none;
}
