/* Menu */

.menu {
  display: grid;

  @include tablet {
    grid-template-rows: 1fr;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* List */

.menu__list {
  @include overlay;
  position: relative;
  font-size: 17px;
  background-color: $basic-white;

  @include tablet {
    padding-top: 15px;
    width: 321px;
    font-size: 15px;
    grid-row: 2/2;
    background: none;
  }

  // @include desktop {
  //   display: flex;
  //   flex-direction: row;
  // }
}

.menu__list--open {
  display: flex;
  flex-direction: column;
  z-index: 3;

  @include tablet {
    flex-direction: row;
  }
}

/* Item */

.menu__item {
  font-weight: 700;
  line-height: 24px;
  padding: 29px 32px 27px 46px;
  box-shadow: 0 1px 0 $basic-semi-gray, inset 0 1px 0 $basic-semi-gray;

  @include tablet {
    padding: 0;
    background: none;
    box-shadow: none;

    &:not(:last-child) {
      margin-right: 37px;
    }
  }
}

/* Link */

.menu__link {
  color: $basic-black;
  text-decoration: none;
}

.menu__toggle {
  display: block;
  padding: 0;
  border: none;
  height: 14px;
  background-color: transparent;
  justify-self: end;
  margin: 32px 31px 33px 0;

  @include tablet {
    display: none;
  }
}

.user__list {
  @include overlay;
  position: relative;
  font-size: 17px;
  background-color: $basic-white;

  @include tablet {
    grid-column: 2/2;
    font-size: 15px;
    background: none;
    justify-self: end;
  }
}

.user-list__item {
  box-shadow: 0 1px 0 $basic-semi-gray, inset 0 1px 0 $basic-semi-gray;

  @include tablet {
    box-shadow: none;
  }
}

.user-list__link-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
  margin-left: 26px;

  @include tablet {
    &--closed {
      display: none;
    }
  }
}

.user-list__item--search {
  padding: 36px 31px 34px 33px;
  border-left: 1px solid $basic-gray;
  border-right: 1px solid $basic-gray;
}

.user-list__item--basket {
  padding: 35px 0 35px 30px;
}

.header__additional-text {
  @include tablet {
    padding-top: 15px;
    z-index: 3;
    margin: 0;
    text-align: right;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $basic-dark-gray;
  }
}
