/* Menu */

.menu {
  display: grid;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    row-gap: 21px;
  }

  @include desktop {
    max-width: 1050px;
    width: 100%;
    grid-template-columns: 1fr 150px 1fr;
    justify-self: center;
    row-gap: 0;
  }
}

/* List */

.menu__list {
  @include overlay;
  position: relative;
  font-size: 17px;
  background-color: $basic-white;
  display: none;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    max-width: 379px;
    font-size: 15px;
    grid-row: 2/2;
    background: none;
    z-index: 3;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    justify-content: start;
    font-size: 17px;
    grid-row: 1/2;
    align-items: center;
    row-gap: 20px;
  }
}

// Icon

.menu__link-icon {
  opacity: 0.2;
  margin-right: 25px;

  @include tablet {
    margin-right: 0;
  }
}

/* Item */

.menu__item {
  display: flex;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 1px 0 $basic-semi-gray, inset 0 1px 0 $basic-semi-gray;

  @include tablet {
    background: none;
    box-shadow: none;
    text-align: center;
  }
}

.menu__item-additional {
  display: none;

  @include desktop {
    display: flex;
    font-size: 15px;
  }
}

.menu__item a[href] {
  @media (any-hover: hover) {
    &:hover {
      color: rgb(68, 68, 68, 0.6);
    }
  }

  &:active {
    color: rgb(68, 68, 68, 0.3);
  }
}
/* Link */

.menu__link {
  color: $basic-black;
  text-decoration: none;
  padding: 29px 61px 26px 77px;
  width: 100%;

  @include tablet {
    padding: 0;
    text-align: left;
  }

  @include desktop {
    padding-top: 33px;
    padding-bottom: 31px;
  }

  &--catalog {
    @include desktop {
      border-right: 1px solid $basic-semi-gray;
    }
  }

  &--form {
    @include tablet {
      padding-left: 8px;
    }

    @include desktop {
      text-align: center;
      padding-left: 25px;
    }
  }

  &:hover .menu__link-icon {
    color: $basic-green;
    opacity: 1;
  }

  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }

  &:active .menu__link-icon {
    color: $basic-green;
    opacity: 0.3;
  }
}

.menu__link-additional {
  padding: 0;

  &--sale {
    padding-left: 31px;
  }
}

/*Button */

.menu__toggle {
  position: absolute;
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  justify-self: end;
  margin: 32px 26px 33px 0;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.user__list {
  @include overlay;
  position: relative;
  font-size: 17px;
  background-color: $basic-white;
  display: none;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    grid-column: 2/2;
    grid-row: 1/2;
    font-size: 15px;
    background: none;
    justify-self: end;
    width: 350px;
    z-index: 3;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 1fr;
    grid-column: 3/3;
    min-height: 88px;
  }
}

.menu__icon-menu,
.menu__button--open .menu__icon-cross {
  display: block;
}

.menu__icon-cross,
.menu__button--open .menu__icon-menu {
  display: none;
}

.user-list__item {
  box-shadow: 0 1px 0 $basic-semi-gray, inset 0 1px 0 $basic-semi-gray;
  margin-right: 0;
  min-height: 60px;

  @include tablet {
    box-shadow: none;
    height: 88px;
  }
}

.user-list__link {
  text-align: left;
  width: 100%;
  padding-left: 32px;
  padding-right: 46px;
  display: flex;
  align-items: center;

  @include tablet {
    padding: 35px 32px;
    justify-content: space-between;
  }

  &--cart {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: $basic-black;

    @include tablet {
      padding-left: 31px;
      padding-right: 0;
    }
  }
}

.user-list__link-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @include tablet {
    &--closed {
      display: none;
    }
  }
}

.user-list__item--search {
  @include tablet {
    border-left: 1px solid $basic-semi-gray;
    border-right: 1px solid $basic-semi-gray;
  }
}

.user-list__item--basket {
  @include tablet {
    flex-grow: 1;
  }
}

.menu__list--open {
  display: flex;
  flex-direction: column;
  z-index: 3;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    display: grid;
  }
}
