/* Page */

.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  font-family: "Open Sans", "Aria", sans-serif;
  min-height: 100%;
  min-width: 320px;
  font-size: 17px;
  line-height: 24px;
  background-color: $basic-white;
  color: $basic-black;
  margin: 0;
}
