/* Page */

.page {
  height: 100%;
}

.page__body {
  font-family: "Open Sans", "Aria", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  background-color: $basic-white;
  color: $basic-black;
  margin: 0 auto;
}
