/* Producion */

.production {
  padding-bottom: 58px;
}

.production__item {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $basic-semi-gray;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

/* Title */

.production__title-wrapper {
  position: relative;
  padding: 22px 13px 27px 91px;

  &::before {
    content: "";
    position: absolute;
    left: 32px;
    top: 32px;
    width: 32px;
    height: 22px;
    background-image: url("..//../img/video.svg");
    background-position: center;
  }

  @include tablet {
    padding-top: 41px;
    padding-bottom: 12px;
    padding-left: 107px;

    &::before {
      top: 42px;
      left: 33px;
    }
  }

  @include desktop {
    padding: 47px 31px 13px 79px;
    align-self: flex-start;
    grid-column: 2/2;

    &::before {
      left: 79px;
      top: 32px;
    }
  }
}

.production__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @include tablet {
    margin-bottom: 0;
    font-size: 20px;
  }

  @include desktop {
    margin-top: 27px;
    padding-right: 30px;
  }
}

/* Description */

.production__description-wrapper {
  padding: 35px 32px 33px 34px;

  @include tablet {
    padding-top: 12px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 46px;
  }

  @include desktop {
    grid-column: 2/2;
    padding-top: 14px;
    padding-left: 80px;
    padding-right: 57px;
    padding-bottom: 60px;
  }
}

.production__description {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark-gray;
  margin-bottom: 39px;

  @include tablet {
    font-size: 15px;
    line-height: 30px;
  }
}


// Button

.production__button {
  width: 100%;

  @include desktop {
    width: 230px;
  }
}
