/* Product */

.product {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* List */

.product__list {
  @include overlay;

  display: grid;

  @media (min-width: 1068px) {
    grid-template-columns: 316px 315px 316px;
  }
}
