/* Reviews */

.reviews {
  position: relative;
  padding-bottom: 42px;

  @include tablet {
    background-image: url("..//..//img/review-bg.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    padding-bottom: 116px;

    @media (min-resolution: 2dppx) {
      background-image: url("..//..//img/review@2x.jpg");
    }
  }

  @include desktop {
    padding-bottom: 163px;
    background-position: 50px 2px;
  }
}

/* Title */

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 14px;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 39px;
    padding-top: 79px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 37px;
    padding-left: 174px;
  }
}

// List

.reviews__list {
  @include desktop {
    padding-left: 174px;
  }
}


/* Item */

.reviews__item {
  display: none;
  margin: 0;
  margin-bottom: 31px;

  &--active {
    display: block;
  }

  @include tablet {
    margin-bottom: 0;
  }
}

/* Text */

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $basic-dark-gray;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 61px;
  }

  @include desktop {
    margin-bottom: 44px;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 17px;
  }
}

.reviews__author-name--link {
  font-weight: 400;
  line-height: 30px;
  color: $basic-dark-gray;
}

// Button

.reviews__button-wrapper {
  display: flex;
  margin-bottom: 38px;

  @include tablet {
    width: 185px;
    position: absolute;
    left: 70%;
    transform: translateY(-37px);
    margin-bottom: 0;
  }

  @include desktop {
    left: 80%;
  }
}

.reviews__button {
  width: 50%;
  padding: 13px 30px 8px;
  background-color: transparent;
  border: 1px solid $basic-semi-gray;
  cursor: pointer;

  @include tablet {
    width: 50%;
    padding: 0;
    border: none;
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__write {
  width: 100%;

  @include tablet {
    position: absolute;
    width: 175px;
    top: 0;
    transform: translateY(74px);
    left: 71%;
  }

  @include desktop {
    left: 80%;
    transform: translateY(80px);
  }
}
