/* Reviews */

.reviews {
  position: relative;
  padding-bottom: 45px;

  @include tablet {
    background-image: url("..//..//img/review-bg.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    padding-bottom: 116px;
  }
}

/* Title */

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 14px;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 39px;
    padding-top: 83px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}


/* Item */

.reviews__item {
  display: none;
  margin: 0;
  margin-bottom: 30px;

  &--active {
    display: block;
    margin-bottom: 0;
  }
}

/* Text */

.reviews__text {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $basic-dark-gray;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 61px;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @include tablet {
    font-size: 18px;
  }
}

.reviews__author-name--link {
  color: $basic-dark-gray;
}

// Button

.reviews__button-wrapper {
  display: flex;
  margin-bottom: 38px;

  @include tablet {
    width: 137px;
    position: absolute;
    left: 75%;
    top: 75%;
  }
}

.reviews__button {
  width: 50%;
  padding: 13px 30px;
  background-color: transparent;
  border: 1px solid $basic-semi-gray;

  @include tablet {
    padding: 0;
    border: none;
  }
}

.reviews__write {
  width: 100%;

  @include tablet {
    position: absolute;
    width: 230px;
    bottom: 73%;
    left: 63%;
  }
}
