/* Social */


.social__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 89px;
  padding-right: 89px;
}

/* Item */

// .social__item {

// }
