/* Social */


.social__list {
  @include overlay;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 27px 62px 25px 59px;
  border-bottom: 1px solid #e5e5e5;

  @include tablet {
    padding: 0;
    border-bottom: none;
  }
}

/* Item */

.social__item {
  cursor: pointer;
  margin-right: 29px;

  &:last-child {
    margin-right: 0;
  }
}

// Link

.social__link {
  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }
}


// Icon

.social__link-icon {
  color: $basic-black;

  @media (any-hover: hover) {
    &:hover {
      color: #46c1ae;
    }
  }

  &:focus-visible {
    outline: 2px solid $basic-lilac;
  }

  &:active {
    opacity: 0.3;
  }
}
