// Video

.video {
  position: relative;
  border: 1px solid $basic-semi-gray;

  @include tablet {
    order: -1;
  }

  @include desktop {
    min-width: 682px;
    grid-row: 1/3;
  }
}


// Button

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 101px;
  height: 76px;
  transform: translate(-50%, -50%);
  transition: 0ms;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
      transition: 300ms;
    }
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    transition: 259ms ease-in;
    opacity: 0.3;
  }
}

.video__button svg {
  width: 101px;

  @media (any-hover: hover) {
    width: 121px;
  }
}

.video__image {
  width: 100%;
}
