/* Wrapper */

.wrapper {
  width: auto;
  padding: 0 30px;

  @media (min-width: 768px) {
    width: auto;
    padding: 0 50px;
  }

  @media (min-width: 1068px) {
    width: 1050px;
    padding: 0 50px;
  }
}
