/* Color */
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #63d1bb;
$basic-dark-green: #56c3b2;
$basic-gray: #f1f1f1;
$basic-semi-gray: #ececec;
$basic-dark-gray: #444444;

/* BreakPoints */

$tablet: 768px;
$desktop: 1068px;
